h1 {font-family: Serif;text-align: center;color: #377ba8; background-color:lightgrey; }
form {width: 350px;padding: 16px;margin: auto;border-radius: 8px;background-color: #ccc;}
input {background-color:blanchedalmond;border-radius: 8px;}
button {text-align: center;font-weight: bold;border-radius: 8px;}