<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if titulo %}
        <title>{{ titulo }} - ABC</title>
    {% else %}
        <title>ABC</title>
    {% endif %}
</head>
<body>
    <div>ABC:
        <a href="/index">Inicio</a>
        <a href="/login">Iniciar Sesión</a>
    </div>
    <hr>
    {% block contenido %}{% endblock %}
</body>
</html>