<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
    <body>
        <h1>{{cuerpo}}</h1>
        <br>
        <form action="{{url_for('recibir_fomulario')}}" method="GET">
            <p>
                <strong>Nombre: </strong><input type="text" name="nombre" id="nombre">
                <strong>Apellido: </strong><input type="text" name="apellido" id="apellido">

                <button type="submit">Enviar</button>
            </p>
        </form>
    </body>
</html>